
.slideBar{
  width: 200px;
}

.logoImage{
  width: fit-content;
  height: 200px;
}

.cardService{
  min-width: 400px;
  margin: 5px 30px;
  min-height: 360px;
}

.serviceShow{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 0px;
}

.gridCard{
  grid-row: span 2;
}

.serviceName{
  margin-left: 30px;
  /* min-width: 400px;
  min-height: 360px; */
}

.serviceButton{
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonServiceElement{
}